#wrapper {
width:70%;
height:70%;    
background-color:#f00;
padding:1%;
display: inline-block;
}
.ws{
    position:relative;
    left:2%;
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    margin:2%;
    background-color:#ffb400;
    display:inline-block;
}

.ws:nth-of-type(n+11){
    width: 5%;
    height: 0;
    padding-bottom: 5%; 
    background-color:#ff0!important;
    left:4%;
}